version: 2.1

jobs:
  build:
    executor: node-def-15
    steps:
        - checkout
        - node/install-packages
  run_tests:
    executor: node-def-15
    steps:
      - run: npm run test

orbs:
  node: circleci/node@4.1.0

workflows:
  test_ppm_worker:
    jobs:
      - build
      - run_tests

executors:
  node-def-15:
    docker:
      - image: circleci/node:latest
