version: 2.1

jobs:
  build:
    executor: node-def-15
    steps:
      - checkout
      - node/install-packages
      - persist_to_workspace:
          root: .
          paths: [ . ]
  run_tests:
    executor: node-def-15
    steps:
      - attach_workspace:
          at: '.'
      - run: npm run test
  code_quality:
    executor: node-def-15
    steps:
      - attach_workspace:
          at: .
      - run: npm run lint

orbs:
  node: circleci/node@4.1.0

workflows:
  test_ppm_worker:
    jobs:
      - build
      - run_tests:
          requires:
            - build
      - code_quality:
          requires:
            - build

executors:
  node-def-15:
    docker:
      - image: cimg/node:15.0
