version: 2.1

jobs:
  build:
    executor: node-current
    steps:
      - checkout
      - node/install-packages
      - run: mkdir /tmp/workspace
      - persist_to_workspace:
          root: /tmp/workspace
          paths: [ . ]
  run_tests:
    executor: node-current
    steps:
      - attach_workspace:
          at: .
      - run: npm run test
  code_quality:
    executor: node-current
    steps:
      - attach_workspace:
          at: .
      - run: npm run lint

workflows:
  version: 2
  test_ppm_worker:
    jobs:
      - build
      - run_tests:
          requires:
            - build
      - code_quality:
          requires:
            - build

orbs:
  # Ref.: https://circleci.com/developer/orbs/orb/circleci/node
  node: circleci/node@4.1.0

executors:
  node-current:
    docker:
      # Ref.: https://circleci.com/developer/images/image/cimg/node
      - image: cimg/node:current
